:root {
    --clr-accent-400: hsl(12, 88%, 59%);
    --clr-accent-100: hsl(13, 100%, 96%);

    --clr-primary-400: hsl(228, 39%, 23%);

    --clr-neutral-100: hsl(233, 12%, 13%);
    --clr-neutral-100: hsl(0%, 0%, 0%);

    --ff-primary: "Be Vietnam Pro", sans-serif;
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --fs-300: 0.8125rem;
    --fs-400: .875rem;
    --fs-500: 0.9375;
    --fs-600: 1rem;
    --fs-700: 1.875rem;
    --fs-800: 2.5rem;
    --fs-900: 2.5rem;

    --fs-body: var(--fs-400);
    --fs-primary-heading: var(--fs-800);
    --fs-secondary-heading: var(--fs-700);
    --fs-nav: var(--fs-500);

    --fs-button: var(--fs-300);
}

@media (min-width: 50rem) {
    :root {
        --fs-700: 3.5rem;
        --fs-600: 2.5rem;

        --fs-body: var(--fs-500);
        --fs-primary-heading: var(--fs-900);
        --fs-secondary-heading: var(--fs-900);
        --fs-nav: var(--fs-300);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
    font: inherit;
}


ul[role='list'],
ol[role='list'] {
    list-style: none;
}


html:focus-within {
    scroll-behavior: smooth;
}


body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* Utility Classes */
.text-primary-400 {
    color: var(--clr-primary-400);
}

.text-accent-400 {
    color: var(--clr-accent-400);
}

.text-accent-100 {
    color: var(--clr-accent-100);
}

.text-neutral-100 {
    color: var(--clr-neutral-400);
}

.text-neutral-900 {
    color: var(--clr-neutral-400);
}

.bg-primary-400 {
    background-color: var(--clr-primary-400);
}

.bg-accent-400 {
    background-color: var(--clr-accent-400);
}

.bg-accent-100 {
    background-color: var(--clr-accent-100);
}

.bg-neutral-100 {
    background-color: var(--clr-neutral-400);
}

.bg-neutral-900 {
    background-color: var(--clr-neutral-400);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fs-primary-heading {
    font-size: var(--fs-primary-heading);
}

.fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-600 {
    font-size: var(--fs-600);
}